# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.venv/
env/
ENV/

# Environment variables
.env

# Logs
*.log

# macOS
.DS_Store

# Archives
*.zip
*.rar
*.tar
*.gz

# Temporary files
*.tmp
*~